{% extends "pool/base.html" %}

{% block extra_head %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Create the data table.
            var data, joinedData, joinColumns;
            {% for player in players %}
                data = new google.visualization.DataTable();
                data.addColumn('datetime', 'Time');
                data.addColumn('number', '{{ player.name }}');
                data.addColumn({id:'i1', type:'number', role:'interval'});
                data.addColumn({id:'i0', type:'number', role:'interval'});
                data.addColumn({type: 'string', role: 'tooltip'});
                data.addRows([
{#                    [new Date(2015, 8, 16, 16, 00), 0, 0 - 8.333, 0 + 8.333, "0 - Pool epoch"],#}
                    {% for ranking in player.rankings.all %}
                        {%  with ranking.game.created as date %}
                            {% if forloop.first %}
                                [
                                    new Date({{ date.year }}, {{ date.month }}-1, {{ date.day }}, {{ date.hour }}-1, {{ date.minute }}, {{ date.second }}),
                                    25, 25 - 8.333, 25 + 8.333,
                                    "{{ player.name }} 25 \u00B1 8.3 - Initial value"
                                ],
                            {% endif %}
                            [
                                new Date({{ date.year }}, {{ date.month }}-1, {{ date.day }}, {{ date.hour }}, {{ date.minute }}, {{ date.second }}),
                                {{ ranking.mu }},
                                {{ ranking.mu }} - {{ ranking.sigma }},
                                {{ ranking.mu }} + {{ ranking.sigma }},
                                {% if player == ranking.game.winner %}
                                    "{{ player.name }} {{ ranking.mu|floatformat }} \u00B1 {{ ranking.sigma|default:"8.333"|floatformat }} - won against {{ ranking.game.loser.name }}"
                                {% else %}
                                    "{{ player.name }} {{ ranking.mu|floatformat }} \u00B1 {{ ranking.sigma|default:"8.333"|floatformat }} - lost against {{ ranking.game.winner.name }}"
                                {% endif %}
                            ],
                        {% endwith %}
                    {%  endfor %}
                    [
                        new Date(),
                        {{ player.mu|default:"0" }},
                        {{ player.mu|default:"0" }} - {{ player.sigma|default:"8.333" }},
                        {{ player.mu|default:"0" }} + {{ player.sigma|default:"8.333" }},
                        "{{ player.mu|default:"0"|floatformat }} \u00B1 {{ player.sigma|default:"8.333"|floatformat }} - Current ranking"
                    ]
                ]);
                {% if forloop.first %}
                    joinedData = data;
                    joinColumns = [1,2,3,4];
                {% else %}
                    joinedData = google.visualization.data.join(joinedData, data, 'full', [[0,0]], joinColumns, [1,2,3,4]);
                    joinColumns.push(joinColumns[joinColumns.length-1]+1);
                    joinColumns.push(joinColumns[joinColumns.length-1]+1);
                    joinColumns.push(joinColumns[joinColumns.length-1]+1);
                    joinColumns.push(joinColumns[joinColumns.length-1]+1);
                {% endif %}
            {% endfor %}

            var view = new google.visualization.DataView(joinedData);
            var noIntervals = [0];
            for (var i = 0; i < {{ players.count }}; i++) {
                noIntervals.push((i * 4) + 1);
                noIntervals.push((i * 4) + 4);
            }
            view.setColumns(noIntervals);
            var series = {};
            for (var i = 0; i < ({{ players.count }}*5)+1; i++) {
                if (noIntervals.indexOf(i) == -1) {
                    series[i] = { color: null };
                }
            }
            console.log(series);

            var chart = new google.visualization.ChartWrapper({
                chartType: 'LineChart',
                containerId: 'rankings_chart',
                dataTable: view,
                options: {
                    backgroundColor: 'transparent',
                    curveType:'function',
                    title:'Ratings',
                    intervals: { 'style':'area' },
                    chartArea: {
                        left: '5%',
                        width: '80%',
                        height: '80%'
                    },
                    vAxis: {
                        baseline: 25,
                    },
                    hAxis: {
                        title: 'Date'
                    },
                    height: 500,
                    interpolateNulls: true,
                    explorer: {keepInBounds: true, axis: 'horizontal'},
                }
            });
            chart.draw();
        }
    </script>
{% endblock %}

{% block content %}
    <div id="standings">
        <h2>Current Standings</h2>
        <p>Calculated according to the <a href="https://en.wikipedia.org/wiki/TrueSkill">TrueSkill</a> ranking algorithm</p>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Rating</th>
                    <th>Sigma</th>
                    <th>Won</th>
                    <th>Lost</th>
                    <th>Played</th>

                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                    <tr>
                        <td>{{  forloop.counter }}</td>
                        <td><a href="{% url "player" player.id %}">{{ player.name }}</a></td>
                        <td>{{ player.mu|floatformat }}</td>
                        <td>{{ player.sigma|floatformat }}</td>
                        <td>{{ player.games_won.count }}</td>
                        <td>{{ player.games_lost.count }}</td>
                        <td>{{ player.games_played }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="side_bar">
        <h2>Add Game</h2>
        <form method="post" action="/">
            {%  if game_form.non_field_errors %}
                <div class="error">
                    {{ game_form.non_field_errors }}
                </div>
            {%  endif %}
            <div class="field">
                {%  if game_form.winner.errors %}<div class="error">{{ game_form.winner.errors }}</div>{% endif %}
                <label>{{ game_form.winner.label }}: {{ game_form.winner }}</label>
            </div>

            <div class="field">
                {%  if game_form.loser.errors %}<div class="error">{{ game_form.loser.errors }}</div>{% endif %}
                <label>{{ game_form.loser.label }}: {{ game_form.loser }}</label>
            </div>

            <input type="submit" name="game" value="Add">
        </form>

        <h2>Add Player</h2>
        <form method="post" action="/">

            <div class="field">
                {%  if player_form.name.errors %}<div class="error">{{ player_form.name.errors }}</div>{% endif %}
                <label>{{ player_form.name.label }}: {{ player_form.name }}</label>
            </div>

            <input type="submit" name="player" value="Add">

        </form>
    </div>

    <div id="chart">
        <h2>Ratings over time</h2>
        <div id="rankings_chart" class="chart"></div>
    </div>

    <div id="matrix">
        <h2>Player matrix</h2>
        <table>
            <tr>
                <th class="corner"></th>
                {% for player in players %}
                    <th><a href="{% url "player" player.pk %}">{{ player.name }}</a></th>
                {% endfor %}
            </tr>

            {% for row in matrix %}
                <tr>
                    <th><a href="{% url "player" row.0.pk %}">{{ row.0.name }}</a></th>
                    {% for item in row.1 %}
                        {% if item != row.0 %}
                            <td class="not_blank" title="{{ row.0.name }} has won {{ item.games_lost_against }} game{{ item.games_lost_against|pluralize }} and lost {{ item.games_won_against }} game{{ item.games_won_against|pluralize }} against {{ item.name }}">
                                <span style="color: green;">{{ item.games_lost_against }}</span>/<span style="color: darkred">{{ item.games_won_against }}</span>
                            </td>
                        {% else %}
                            <td class="blank"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
