{% extends "pool/base.html" %}

{% load quality %}

{% block extra_head %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('datetime', 'Time');
        data.addColumn('number', 'Rating');
        data.addColumn({id:'i1', type:'number', role:'interval'});
        data.addColumn({id:'i0', type:'number', role:'interval'});
        data.addColumn({type: 'string', role: 'tooltip'});
        data.addRows([
            {% for ranking in player.rankings.all %}
                {%  with ranking.game.created as date %}
                    {% if forloop.first %}
                        [
                            new Date({{ date.year }}, {{ date.month }}-1, {{ date.day }}, {{ date.hour }}-1, {{ date.minute }}, {{ date.second }}),
                            25, 25 - 8.333, 25 + 8.333,
                            "{{ player.name }} 25 \u00B1 8.3 - Initial value"
                        ],
                    {% endif %}
                    [
                        new Date({{ date.year }}, {{ date.month }}-1, {{ date.day }}, {{ date.hour }}, {{ date.minute }}, {{ date.second }}),
                        {{ ranking.mu }},
                        {{ ranking.mu }} - ({{ ranking.sigma }}*3),
                        {{ ranking.mu }},
                        {% if player == ranking.game.winner %}
                            "{{ ranking.mu|floatformat }} \u00B1 {{ ranking.sigma|default:"8.333"|floatformat }} - won against {{ ranking.game.loser.name }}"
                        {% else %}
                            "{{ ranking.mu }} \u00B1 {{ ranking.sigma|default:"8.333"|floatformat }} - lost against {{ ranking.game.winner.name }}"
                        {% endif %}
                    ],
                {% endwith %}
            {% endfor %}
        ]);

        // Set chart options
        var options = {
            backgroundColor: 'transparent',
            curveType:'function',
            'title':'Rating',
            'intervals': { 'style':'area' },
            'height':document.getElementById('player_details').clientHeight
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.LineChart(document.getElementById('rankings_chart'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}

{% block content %}
    <div id="player">
        <h2>{{  player.name }}</h2>
        <table id="player_details">
            <tr>
                <th>#</th>
                <td>{{ player.ranking }}</td>
            </tr>
            <tr>
                <th>Min. Rating</th>
                <td>{{ player.pessimistic_mu|floatformat }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ player.mu|floatformat }}</td>
            </tr>
            <tr>
                <th>Sigma</th>
                <td>{{ player.sigma|floatformat }}</td>
            </tr>
            <tr>
                <th>Won</th>
                <td>{{ player.games_won.count }}</td>
            </tr>
            <tr>
                <th>Lost</th>
                <td>{{ player.games_lost.count }}</td>
            </tr>
            <tr>
                <th>Played</th>
                <td>{{ player.games_played }}</td>
            </tr>
        </table>

        <div id="rankings_chart" class="chart"></div>
    </div>

    <div id="games">
        <h2>Games</h2>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Against</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                    {% if game.winner == player %}
                        <tr class="winner">
                            <td>{{ game.created }}</td>
                            <td>{{ game.loser }}</td>
                            <td>Won</td>
                        </tr>
                    {% else %}
                        <tr class="loser">
                            <td>{{ game.created }}</td>
                            <td>{{ game.winner }}</td>
                            <td>Lost</td>
                        </tr>
                    {% endif %}

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="matches">
        <h2>Head to head</h2>
        <table>
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Games</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>&#x2119;(<em>draw</em>)</th>
                </tr>
            </thead>
            <tbody>
                {% for other in others %}
                    {%  if forloop.counter == player.ranking %}
                        <tr>
                            <td>{{ player.name }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td><a href="{% url "player" other.pk %}">{{ other.name }}</a></td>
                        <td>{{ other.games_played }}</td>
                        <td>{{ other.games_lost_against }}</td>
                        <td>{{ other.games_won_against }}</td>
                        <td>{% quality other player %}%</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
